<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/base.css">
  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="/css/home.css">
  <title>Error page</title>
</head>

<body>
  <section class="todohome">
    <header>
      <h1>exercice app</h1>
    </header>
    <section>
      <h2 class="alert">
        <%= message %>
      </h2>
      <hr>
      <a href="login" class="button">sign in</a>
    </section>
    <footer class="info">
      <p>Created by <a href="">Saikou B</a></p>
      <p>Cloud Campus Course</p>
      <p>Authentication powered by <a href="">Passport JS</a></p>
    </footer>
  </section>
</body>

</html>