<link rel="stylesheet" href="/css/home.css">
<link rel="stylesheet" href="/css/base.css">

<body>
  <section class="todohome">
    <header>
      <h1>
        Authentication course : exercice app
      </h1>
    </header>
    <section>
      <h2>Exercice app home</h2>
      <a href="/login" class="button">Sign in</a>
    </section>
    <footer class="info">
      <p>Created by <a href="">Saikou B</a></p>
      <p>Cloud Campus Course</p>
      <p>Authentication powered by <a href="">Passport JS</a></p>
    </footer>
  </section>
</body>

</html>